.button {
  --color-default: rgb(25, 120, 210);
  --color-secondary: rgb(90, 25, 210);
  --color-alternate: rgb(255, 255, 255);
  --bg-color-default: rgba(25, 120, 210, 0.055);
  --bg-color-contained-hover: rgb(20, 95, 170);
  --bg-color-secondary: rgba(90, 25, 210, 0.055);
  --bg-color-contained-secondary-hover: rgb(85, 0, 170);

  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: .25em;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  background-color: transparent;

  color: var(--color-default);
}
/* Color default */
.button--outlined {
  border: 1px solid var(--color-default);
}
.button--contained {
  background-color: var(--color-default);
  color: var(--color-alternate);
}
.button--text:hover,
.button--outlined:hover {
  background-color: var(--bg-color-default);
}
.button--contained:hover {
  background-color: var(--bg-color-contained-hover);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
/* Color secondary */
.button--text.button--secondary {
  color: var(--color-secondary);
}
.button--outlined.button--secondary {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}
.button--contained.button--secondary {
  background-color: var(--color-secondary);
}
.button--text.button--secondary:hover,
.button--outlined.button--secondary:hover {
  background-color:var(--bg-color-secondary);
}
.button--contained.button--secondary:hover {
  background-color: var(--bg-color-contained-secondary-hover);
}
/* Color success */
/* Color error */
/* Size */
.button--small {
  padding: 10px 16px;
  font-size: 12px;
}
.button--medium {
  padding: 11px 20px;
  font-size: 14px;
}
.button--large {
  padding: 12px 24px;
  font-size: 16px;
}
